* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("bg.jpg");
  background-size: cover;
  .left {
    margin: 0 5%;
  }
  p {
    font-size: 48px;
  }
  .large {
    font-size: 72px;
    font-weight: 700;
  }
  .small {
    font-weight: 500;
  }

  .right {
    margin: 0 5%;

    height: 100%;
    width: 100%;
    .lottie-player {
      height: 100%;
      width: 0 auto;
    }
  }
}
